alembic==1.4.2
APScheduler==3.6.1
asn1crypto==0.24.0
atomicwrites==1.3.0
attrs==19.1.0
backcall==0.2.0
bleach==3.1.5
bokeh==2.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cloudpickle==1.4.1
contextlib2==0.5.5
cryptography==2.6.1
cycler==0.10.0
dask==2.19.0
decorator==4.4.2
defusedxml==0.6.0
dicttoxml==1.7.4
distributed==2.19.0
entrypoints==0.3
Flask==1.0.2
Flask-Cors==3.0.7
Flask-JWT==0.3.2
Flask-Migrate==2.5.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
fsspec==0.7.4
HeapDict==1.0.1
idna==2.8
imgurpython==1.1.7
importlib-metadata==1.7.0
ipykernel==5.3.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.1
Jinja2==2.10.1
joblib==0.15.1
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.2.0
locket==0.2.0
Mako==1.1.2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
more-itertools==7.0.0
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.7
nltk==3.5
notebook==6.1.5
numpy==1.18.5
packaging==20.4
pandas==1.0.4
pandocfilters==1.4.2
parso==0.7.0
partd==1.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pluggy==0.9.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
py==1.8.0
pycparser==2.19
Pygments==2.6.1
PyJWT==1.4.2
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==4.4.1
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.2
PyYAML==5.3.1
pyzmq==19.0.1
regex==2020.6.8
requests==2.22.0
schema==0.7.0
scikit-learn==0.23.1
scipy==1.4.1
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
sortedcontainers==2.2.2
SQLAlchemy==1.3.3
swifter==0.305
tblib==1.6.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.3
typing-extensions==3.7.4.2
tzlocal==2.0.0
urllib3==1.25.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.5.1
xmltodict==0.12.0
zict==2.0.0
zipp==3.1.0
